.modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 90%;
  padding: 15px 6.5rem;
  position: fixed;
  box-sizing: border-box;
  max-width: 470px;
  max-height: auto;
  margin: auto;
  border: 0px solid #fcfcfc;
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

.modal-close {
  position: absolute;
  bottom: 100%;
  left: 100%;
  line-height: .4;
  font-size: 40px;
  font-weight: 200;
  color: rgba(0, 0, 0, .6) !important;
  transition: all .2s;
  cursor: pointer;
  width: auto;
}

.modal-close:hover {
  color: #3b3b3b;
}

@media (max-width: 575.98px) {
  .modal-content {
    padding: 10px 3.5rem;
    width: 87%;
  }
}

.modal-input-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.3rem;
}

.modal-input {
  width: 100%;
}

.modal-caption {
  margin-bottom: 2rem;
}

.modal-caption,
.modal-btn {
  font-family: 'PT_Sans-Bold'
}

.modal-btn {
  border: none;
  padding: 5px 10px;
  background-color: #777;
  color: $text-color-white;
  cursor: pointer;
}

label.error {
  color: red;
}

.submit-success {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 10px;
  background-color: white;
  text-align: center;
  font-size: 3rem;
  color: green;
}
