// -----------------------------------------------------------------------------
// This file contains all styles related to the slider of the site/application.
// -----------------------------------------------------------------------------
.slider {
  &__img-wrap {
    position: relative;
    max-height: 500px;
  }

  &__img {
    margin: 0 auto;
  }

  &__arrow {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
    z-index: 10;

    &_left {
      left: 15%;
    }

    &_right {
      right: 15%;
    }
  }
}
